@media screen and (max-width:800px){
    #cabeçario{
        display: flex;
        justify-content: center;
        align-items: center;
    }   
    a{
        font-size: 10px;
        margin-right: 5px;
    }
    #titulo{
    display: block;
    justify-content: center;
    align-items: center;
    }
 }
@media screen and (max-width:700px){
    
   #menu{
    margin-right: 50px;
}
   a{
       font-size: 10px;
       margin-right: 5px;
   }
   #titulo{
    margin-left: 0px;
    font-size: 20px;
    margin-top: 15px;

   }
   #sobre{
    margin: 5px;
    margin-left: 0px;

}
#sobre img{
    width: 125px;
    height: 75px;
    margin: 10px;

}
#sobre p{
    margin-top:10px;
    width: 250px;
    font-size: 17px;
}
#sobre h3{
    font-size: 25px;
    }
#contato div{
        font-size: 13px;
        margin: 10px;
        padding: 5px;
 }
 #contato h2{
        font-size: 15px;
}
}
@media screen and (max-width:1000px){
    #cabeçario{
        width: 100%;
    }
    #menu{
     margin-right: 50px;
 }
    a{
        font-size: 10px;
        margin-right: 35px;
        font-size: 20px;

    }
    #titulo{
     margin-left: 50px;
     font-size: 20px;
     margin-top: 15px;
     font-size: 35px;
    }

 }
 
 @media screen and (max-width:500px){
    #menu{
     margin-right: 50px;
 }
    a{
        font-size: 20px;
        margin-right: 10px;
    }
    #titulo{
     margin-left: 0px;
     font-size: 30px;
     margin-top: 15px;
     display: flex;
    justify-content: center;
    align-items: center;
    }
  
    #contato div{
        font-size: 13px;
        margin: 10px;
        padding: 5px;
    }
   
 }