
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
    
}
#cabeçario{
    margin: 10px;
}
#menu{
    margin-right: 170px;
}
a{
    float: right;
    margin-right: 40px;
    text-decoration: none;
    color: black;
    margin-top: 15px;
    font-size: 20px;
}
a:hover{
   color: blue;
   
}
#titulo{
    font-family: 'Lora', serif;
    display: inline;
    margin-left: 115px;
    font-size: 35px;
}
#conteiner{
    width: 100%;
    height: 400px;
    background-image: url(https://cdn.pixabay.com/photo/2020/03/16/16/08/caribbean-4937504_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#conteiner-img{
    height: 130px;
    background-color: rgba(0, 0, 0, 0.425);
    text-align: center;
    width: 450px;
    color: white;
    font-size: 25px;
    padding: 15px;
    border-radius: 10px;
}
#conteiner-img p{
  margin-top: 25px;
}
#conteiner-quartos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }
#quartos{
    width: 400px;
    height: 350px;
    margin: 15px;
    text-align: center;
    margin-left: 25px;
}

#conteiner-quartos img{
    width: 400px;
    height: 300px;
}
#conteiner-catalogo{
    text-align: center;
    margin: 10px;
}
#conteiner-catalogo p{
   margin-top: 10px;
   font-size: 20px;

}
#quartos hr{
    background-color: blue;
    height: 4px;
    border-radius: 35px;
    margin-top: 5px;
}
#conteiner-sobre{
    text-align: center;
}
#conteiner-sobre p{
    margin-top: 10px;
    font-size: 20px;

}
#conteiner-info{
    display:flex;
    margin: 15px;
    text-align: left;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#sobre{
    margin: 10px;
    margin-left: 50px;
    display: flex;

}
#sobre img{
    width: 200px;
    height: 150px;
    margin: 10px;

}
#sobre p{
    margin-top:10px;
    width: 350px;
    font-size: 20px;
}
#sobre h3{
    font-size: 25px;
}
#conteiner-catalogo h2, #conteiner-sobre h2{
    font-size: 35px;

}
  
#contato{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#contato div {
    margin: 15px;
    display: flex;
    width: 300px;
    padding: 10px;
}
i{
    margin-right: 10px;
    margin-top: 5px;
    font-size: 35px;
}
#conteiner-contato{
    background-color: rgb(57, 168, 168);
}
#conteiner-contato h2{
    font-size: 25px;
    margin-left: 55px;
    width: 250px;
}
#conteiner-contato #cel{
    margin-top: 10px;
}
#rodape{
    text-align: center;
    font-size: 20px;
    color:white;
    padding: 10px;
}

